# This "requirements-mapping.txt" file is for LED mapping and simulation.
# For running animations on a Raspberry Pi, use "requirements-run.txt" instead.
scipy==1.15.3
matplotlib==3.6.2
opencv-python-headless==4.11.0.86
PyYAML==6.0.2